/* This file is for your main application css. */


.btn {
    margin: 5px !important;
}

.container {
    width: 80% !important;
    max-width: 1920px !important;
}

.square-white {
    margin: 0px !important;
    padding: 35px !important;
    background-color: blue !important;
}

.square-black {
    margin: 0px !important;
    padding: 35px !important;
    background-color: black !important;
}

.top-margin {
    margin-top: 25px !important;
}

.board-row {
    padding: 35px !important;
    margin: 0px !important;
    line-height: 16.5px !important;
}
